# Database
#DATABASE_URL="postgresql://postgres:root@localhost:5432/ace_time"

DATABASE_URL="postgresql://neondb_owner:npg"

# Clerk Authentication
# Get these from https://dashboard.clerk.com
VITE_CLERK_PUBLISHABLE_KEY=p
CLERK_SECRET_KEY=s

# Comma-separated list of email addresses that should be assigned the ADMIN role
# on first login. Anyone not in this list is created as EMPLOYEE.
ADMIN_EMAILS=