# Database
#DATABASE_URL="postgresql://postgres:root@localhost:5432/payroll"

DATABASE_URL="postgresql://neondb_owner:npg_ZdMWC3B7ILsD@ep-rapid-rain-am0wwi80-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Clerk Authentication
# Get these from https://dashboard.clerk.com
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c3RpcnJlZC1ncnViLTEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_MOl5aAddWzNyLoBexut8cCcY08uHniPjyZ8ypL4fzN

# Comma-separated list of email addresses that should be assigned the ADMIN role
# on first login. Anyone not in this list is created as EMPLOYEE.
ADMIN_EMAILS=["jordantodbaker@gmail.com"]